#main {
    margin-top: 75px;
  }

.head1{
  position: absolute;
  display: flex;
  width: 13vw;
  height: 13vh;
  top: 0%;
  left: 2%;
}

.head2{
  position: absolute;
  display: flex;
  width: 13vw;
  height: 13vh;
  top: 0%;
  left: 42%;
}

.head3{
  position: absolute;
  display: flex;
  width: 15vw;
  height: 15vh;
  top: 0%;
  left: 84%;
}

.image {
    position: absolute;
    display: flex;
    top: 35%;
    left: 44%;
    width: 36.5vmin;
    height: 38vh;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}

.pic {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 30vw;
  height: 50vh;
  margin:-60px 0 0 -60px;
}

.elem {
  position: absolute;
  top: 34%;
  left: 63%;
  width: 5vw;
  height: 5vh;
  margin:-60px 0 0 -60px;
}

.weap {
  position: absolute;
  top: 34%;
  left: 72%;
  width: 5vw;
  height: 5vh;
  margin:-60px 0 0 -60px;
}

.swi {
  position: absolute;
  top: 77%;
  left: 30%;
  width: 8vmax;
  height: 8vmin;
  margin:-60px 0 0 -60px;
}

.lin {
  position: absolute;
  top: 70%;
  left: 60%;
  font-size: 2.5vmin;
  width: 20vw;
  text-align: center;
  font-family: Helvetica;
  font-weight: bolder;
}

.sum {
  position: absolute;
  top: 35%;
  left: 51%;
  width: 27vw;
  font-size: 2.75vmin;
  text-align: center;
  font-family: Helvetica;
  color: white;
}

.but {
  position: absolute;
  top: 10%;
  left: 39%;
  width: 300px;
  height: 300px;
  margin:-60px 0 0 -60px;
  size: "small"
}

.name {
  position: absolute;
  font-size: 4vh;
  top: 12%;
  left: 45%;
  text-align: center;
}

.new {
  font-size:calc(3px + 1vw);
  text-align: center;
  font-family: Helvetica;
  color: white;
}

.tip {
    position: absolute;
    top: 70%;
    left: 35%;
    width: 20vw;
    height: 3vh;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.glow {
    position: absolute;
    text-align: center;
    font-size: 5vmin;
    width: 26vw;
    top: 5%;
    left: 35%;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #84d8be, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #84d8be;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #84d8be, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #84d8be, 0 0 80px #ff4da6;
    }
  }